*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.p-relative{
  position: relative;
}

a{
  text-decoration: none;
  color: #000000;
}

.hide{
  display: none;
}

body{
  background-color: #ebebeb;
}

main{
  width: 90%;
}

footer, header{
  padding: 1.5rem;
}

.main-header{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.j-cont-c{
  justify-content: center;
}

.max-w-700{
  max-width: 700px;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.m-auto{
  margin: auto;
}

.search{
  background-color: #ffffff;
  height: 30px;
  justify-content: space-between;
}

.b-rad-10{
  border-radius: 10px;
}

.p-5{
  padding: 5px;
}

.p-10{
  padding: 10px;
}

.b-none{
  border: none;
}

.bg-yellow{
  background-color: #EAC926;;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light-blue{
  background-color: #1259c3;;
  color: #ffffff;
}

.color-green{
  color: #39d54a;
}

.icon-truck{
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.text-navbar{
  margin: 15px 0px;
}

.txt-center{
  text-align: center;
}

.title{
  font-size: 24px;
}

.font-prices{
  font-size: 18px;
}

.font-discounts, .font-description{
  font-size: 16px;
}

.search input {
  min-width: 0;
}

.burger-menu{
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 30px;
  color: #ebebeb;
  align-items: center;
}

main section{
  margin-bottom: 30px;
}

section.product-list{
  margin: auto;
}

article.product{
  margin-bottom:10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-dates{
  border-top: solid #ebebeb 1px;
  padding: 15px;
  position: relative;
}

.price-discount{
  align-items: center;
  gap: 10px;
}

footer article{
  text-align: center;
  padding: 0px 20px;
}

.footer-icon{
  font-size: 4rem;
  color: #1259c3;
}

.header-navbar ul{
  list-style: none;
  margin-top: 30px;
}

.input-form{
  margin: 15px 0px;
}

.form-buttons{
  gap: 40px;
}

.form-buttons button:hover{
  background-color: #0022AA;
}

.product {
  transition: all 0.5s;
}


/* original 481px */
@media (min-width: 550px){
  /* tablet */
  .header-navbar {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu{
    display: none;
  }

  section.product-list{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  article.product{
    width: 48%;
    margin: 1%;
  }

  .text-navbar, .search, .logo-navbar{
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 769px) {
  /* laptop */
  article.product{
    box-shadow: none;
  }

  .icon-truck{
    transition: all 2s;
  }

  .description{
    height: 0;
    opacity: 0;
    transition: all 1s;
  }

  .product:hover .description{
    height: 100%;
    opacity: 1;
  }

  .product:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product:hover .icon-truck{
    /* animación y transición para hacer girar el icono. */
    
    transform: rotateZ(-360deg);
    /* animation: girar 1s linear infinite; */
  }

  article.product {
    width: 23%;
  }
}

/* desktop */
@media (min-width: 1281px){
  footer article{
    width: 30%;
  }
  .footer-icon:hover{
    color: #EAC926;
  }
}

@keyframes girar {
  0%{
    transform: rotateZ(0deg);
  }
  
  100%{
    transform: rotateZ(-360deg);
  }
}