<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>
<body>
    <header>
        <!-- logo del sitio -->
        <img src="/images/logo-mercado-liebre.svg" alt="">

        <!-- barra de búsqueda -->
        <p>lugar para poner barra de búsqueda</p>

        <p>comprá en cuotas y sin tarjeta de crédito</p>

        <!-- barra de navegación -->
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>

        <!-- crear cuenta o iniciar sesion, carrito -->
        <div>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </div>

    </header>
    <main>
        <!-- banner -->
        <img src="/images/img-home-banner.jpg" width="100%" alt="">
        
        <!-- sección de articulos basados en al última visita del usuario -->
        <section>
            <h1>Basado en tu última visita</h1>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>

            <article>
                <img src="/public/images/img-tv-samsung-smart.jpg" width="100%" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>

        </section>

        <!-- sección de articulos en ofertas -->
        <section>
            <h1>Basado en Ofertas</h1>
        
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
        
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
        
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
        
            <article>
                <img src="/public/images/img-tv-samsung-smart.jpg" width="100%" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        
        </section>
    </main>

    <footer>
        <!--  -->
        <div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>