<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>mercado liebre</title>
  </head>

  <body>
    <header class="bg-yellow main-header flex">
      <!-- logo del sitio -->
      <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" class="w-50 logo-navbar"/>

      <!-- barra de búsqueda -->

      <form action="" class="search w-50 bg-white flex">
        <input type="search" placeholder="Buscar productos, marcas" class="b-none"/>
        <button class="b-none"><i class="fa-solid fa-magnifying-glass bg-white"></i></button>
      </form>

      <p class="w-100 txt-center text-navbar">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        comprá en cuotas y sin tarjeta de crédito
      </p>

      <!-- barra de navegación -->
      <nav class="header-navbar w-100">
        <ul class="navbar flex">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>

        <!-- crear cuenta o iniciar sesion, carrito -->
        <ul class="login-navbar flex">
          <li>
            <a href="#"
              >Creá tu cuenta <i class="fa-sharp fa-solid fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>

      <!-- menú hamburguesa -->
      <div class="burger-menu bg-light-blue center flex">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>

    <!-- banner -->
    <img src="/images/img-home-banner.jpg" width="100%" alt="" />

    <main class="center">
      <!-- sección de articulos basados en al última visita del usuario -->
      <h2 class="category-title">Basado en tu última visita</h2>
      <section class="product-list">
        <article class="product">
          <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$6.770</p>
              <p class="font-discounts color-green">40% off</p>
            </div>
            <h3 class="description font-description">Cafetera Moulinex</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$230.000</p>
              <p class="font-discounts color-green">20% off</p>
            </div>
            <h3 class="description font-description">MacBook Pro 2019</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$70.500</p>
              <p class="font-discounts color-green">10% off</p>
            </div>
            <h3 class="description font-description">Samsung Galaxy S10</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$23.200</p>
              <p class="font-discounts color-green">5% off</p>
            </div>
            <h3 class="description font-description">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>

      <!-- sección de articulos en ofertas -->
      <h2 class="category-title">Basado en Ofertas</h2>
      <section class="product-list">
        <article class="product">
          <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$6.770</p>
              <p class="font-discounts color-green">40% off</p>
            </div>
            <h3 class="description font-description">Cafetera Moulinex</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$6.770</p>
              <p class="font-discounts color-green">40% off</p>
            </div>
            <h3 class="description font-description">Cafetera Moulinex</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$230.000</p>
              <p class="font-discounts color-green">20% off</p>
            </div>
            <h3 class="description font-description">MacBook Pro 2019</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$70.500</p>
              <p class="font-discounts color-green">10% off</p>
            </div>
            <h3 class="description font-description">Samsung Galaxy S10</h3>
          </div>
        </article>

        <article class="product">
          <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="" />
          <div class="product-dates">
            <i class="fa-solid fa-truck icon-truck color-green"></i>
            <div class="price-discount flex">
              <p class="font-prices">$23.200</p>
              <p class="font-discounts color-green">5% off</p>
            </div>
            <h3 class="description font-description">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <article>
        <i class="fa-solid fa-credit-card icon"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article>
        <i class="fa-solid fa-gift icon"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article>
        <i class="fa-solid fa-user-shield icon"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
